GTI_Models/ReportModels/Imovel_Detalhe.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <!-- XML Schema Generated from XML Document on Wed Aug 14 2019 14:27:00 GMT-0300 (Horário Padrão de Brasília) -->
  <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
  <xs:element name="Imovel_Detalhe">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Codigo" type="xs:int"></xs:element>
        <xs:element name="Inscricao" type="xs:string"></xs:element>
        <xs:element name="Situacao_Imovel" type="xs:string"></xs:element>
        <xs:element name="MT" type="xs:string"></xs:element>
        <xs:element name="Proprietario" type="xs:string"></xs:element>
        <xs:element name="Proprietario2" type="xs:string"></xs:element>
        <xs:element name="Endereco" type="xs:string"></xs:element>
        <xs:element name="Numero" type="xs:int"></xs:element>
        <xs:element name="Complemento" type="xs:string"></xs:element>
        <xs:element name="Bairro" type="xs:string"></xs:element>
        <xs:element name="Cep" type="xs:string"></xs:element>
        <xs:element name="Quadra_Original" type="xs:string"></xs:element>
        <xs:element name="Lote_Original" type="xs:string"></xs:element>
        <xs:element name="Area_Terreno" type="xs:decimal"></xs:element>
        <xs:element name="Fracao_Ideal" type="xs:decimal"></xs:element>
        <xs:element name="Testada" type="xs:decimal"></xs:element>
        <xs:element name="Agrupamento" type="xs:decimal"></xs:element>
        <xs:element name="Soma_Fatores" type="xs:decimal"></xs:element>
        <xs:element name="Area_Predial" type="xs:decimal"></xs:element>
        <xs:element name="Imunidade" type="xs:string"></xs:element>
        <xs:element name="Reside_Imovel" type="xs:string"></xs:element>
        <xs:element name="Qtde_Edif" type="xs:int"></xs:element>
        <xs:element name="Isento_cip" type="xs:string"></xs:element>
        <xs:element name="Topografia" type="xs:string"></xs:element>
        <xs:element name="Pedologia" type="xs:string"></xs:element>
        <xs:element name="Situacao" type="xs:string"></xs:element>
        <xs:element name="Uso_Terreno" type="xs:string"></xs:element>
        <xs:element name="Benfeitoria" type="xs:string"></xs:element>
        <xs:element name="Categoria" type="xs:string"></xs:element>
        <xs:element name="Condominio" type="xs:string"></xs:element>
        <xs:element name="Vvt" type="xs:decimal"></xs:element>
        <xs:element name="Vvp" type="xs:decimal"></xs:element>
        <xs:element name="Vvi" type="xs:decimal"></xs:element>
        <xs:element name="Iptu" type="xs:decimal"></xs:element>
        <xs:element name="Controle" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
